<?xml version="1.0"?>
<launch>

        <!-- roslaunch arguments -->
        <arg name="debug" default="false"/>
        <arg name="world_name" default="$(find rb1_base_gazebo)/worlds/ros2_online_workshop.world"/>

        <!-- Load the URDF file as a parameter -->
        <param name="robot_description" command="$(find xacro)/xacro --inorder $(find my_rb1_description)/urdf/my_rb1_robot.xacro" />

        <!-- We resume the logic in empty_world.launch, changing onlythe name of the world to be launched -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world_name)"/>
                <arg name="debug" value="$(arg debug)" />
                <arg name="paused" value="false"/>
                <arg name="use_sim_time" value="true"/>
                <arg name="headless" value="false"/>
                <arg name="verbose" value="true"/>
        </include>

        <!-- Define spawn position arguments -->
        <arg name="spawn_x" default="-0.4"/>
        <arg name="spawn_y" default="-1.34"/>
        <!-- Include the spawn launch file with your coordinates -->
        <include file="$(find my_rb1_gazebo)/launch/spawn.launch">
            <arg name="x" value="$(arg spawn_x)"/>
            <arg name="y" value="$(arg spawn_y)"/>
        </include>

        <!-- Start joint_state_publisher_gui node -->
        <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    
        <!-- Start robot_state_publisher node -->
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>